streamlit>=1.32.0
PyMuPDF>=1.23.0
langchain>=0.1.0
langchain-google-genai>=0.0.5
langchain-community>=0.0.10
pytesseract>=0.3.10
unstructured>=0.10.30
unstructured-inference>=0.7.0
pdf2image>=1.16.3
psycopg2-binary>=2.9.9
neo4j>=5.14.1
python-dotenv>=1.0.0
pymongo>=4.6.1
pymongo[srv]>=4.6.1
pillow>=10.2.0
numpy>=1.26.0
tqdm>=4.66.1
pdfminer.six>=20221105
pi_heif>=0.13.0
opencv-python>=4.8.0
matplotlib>=3.8.0
pandas>=2.1.0
google-generativeai>=0.3.0
google-cloud-aiplatform>=1.36.0
google-auth>=2.22.0
python-pptx>=0.6.21
PyPDF2>=3.0.0 
reportlab
